<div class="colorBG">
    <a class="whatsapp-link .fa-whatsapp" href="https://chat.whatsapp.com/BlhOyHEoAYm9m87DYgaqI9" target="_blank">
        <i class="fa fa-whatsapp"></i>
    </a>
    
    <div class="container">
    
        <h3 class="text-center font-weight-bold mb-5 mt-5">Linguagens, tecnologias e frameworks que foram utilizados no desenvolvimento do projeto</h3>
        
        <h5 class="d-flex justify-content-center"> Linguagens usadas no desenvolvimento Front-end</h5>
        <div class="progress mb-2">
            <div class="progress-bar html" role="progressbar" style="width: 42.1%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">HTML5 - 42.1%</div>
            <div class="progress-bar bg-info" role="progressbar" style="width: 31%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">TypeScript - 31%</div>
            <div class="progress-bar css" role="progressbar" style="width: 25.5%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">CSS3 - 25.5%</div>
            <div class="progress-bar js" role="progressbar" style="width: 1.4%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br>
    
        <h5 class="d-flex justify-content-center"> Linguagens usadas no desenvolvimento Back-end</h5>
        <div class="progress mb-2">
            <div class="progress-bar html" role="progressbar" style="width: 100%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">Java - 100%</div>
        </div>
        <br>
    
        <h5 class="d-flex justify-content-center"> Banco dados utilizados no desenvolvimento do Projeto</h5>
        <div class="progress mb-2">
            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">MySQL - 50%</div>
            <div class="progress-bar css" role="progressbar" style="width: 50%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">PostgreeSQL - 50%</div>
        </div>
        
    </div><br><br><br>
    
    <a class="mt-5 d-flex justify-content-center btnReturn" routerLink="/home">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Retornar a página de Home do Laços da Comunidade
    </a>
    
</div>