#img-bg{
    background-image: url("../../assets/img/pessoas.jpeg");

    height: 790px;
    width: 380px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}