<div class="container-fluid">

    <div class="row d-flex align-items-center colorBG">

        <div class="col-md-6"> 

            <div class="row d-flex justify-content-center">
                <div class="col-md-6">

                    <h1 class="text-center mb-5">Entrar</h1>
                    
                    <div class="form-group btnLogin">
                        <input [(ngModel)]='usuarioLogin.usuario' class="form-control slct" type="text" name="usuario" id="usuario"
                        placeholder="Seu usuário">
                        <label for="usuario">Email <i class="fa fa-user" aria-hidden="true"></i></label>
                    </div> 

                    <div class="form-group btnLogin">
                        <input [(ngModel)]='usuarioLogin.senha' class="form-control slct" type="password" name="senha" id="senha"
                        placeholder="Sua senha">
                        <label for="senha">Senha <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                        </label>
                        
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn " (click)='entrar()'>Entrar</button>
                    </div>

                    <hr class="mt-5 mb-5">

                    <p class="text-center">
                        Não tem uma conta? <a routerLink="/cadastrar">Cadastre-se</a>
                    </p>
                    <p class="text-center">
                        Quer voltar para a página inicial? <a routerLink="/menu">Voltar</a>
                    </p>

                </div>
            </div>

        </div>

        <div class="col-md-6" id="img-bg"></div>

    </div>

</div>