
<div class="container-fluid">

    <div class="row colorBG">

        <div class="col-md-6" id="img-bg"></div>

        <div class="col-md-6 mt-5 mb-5">

            <div class="row d-flex justify-content-center">
                    <div class="col-md-6 box">

                        

                        <h1 class=" text-center">Cadastrar Tema</h1>
            
                        <div class="form-group btnLogin">
                            <input [(ngModel)]="tema.descricao" class= "form-control slct" type="text" name="descricao" id="descricao" placeholder="Digite sua localidade" required>
                            
                        </div>

                        <div class= "mb-5 mt-negativo d-flex justify-content-center">
                            <button class="btnCancel mt-negativo" routerLink= "/inicio">Cancelar</button> <!--lembrar de mudar a rota-->
                            <button class="btnCad mt-negativo" (click)='cadastrar()'>Cadastrar</button>
                        </div>
            
                    </div>
            </div>

            <!-- TABELA DE TEMAS QUE FORAM CADASTRADOS -->
            <div class="row mt-3 mb-5 d-flex justify-content-center align-items-center">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nº</th>
                            <th scope="col">Descrição</th>
                            <th scope="col" class="d-flex justify-content-center">Modificações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let item of listaTemas'>
                            <th class="fonte3">{{item.id}}</th>
                            <td class="fonte1" >{{item.descricao}}</td>
                            <td class="d-flex justify-content-center">
                                <button class="btn mr-3 mt-0 btnCad " [routerLink]="['/tema-edit', item.id]">Editar</button>
                                <button class="btn mt-0 btnCancel " [routerLink]="['/tema-delete', item.id]">Apagar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- TABELA DE TEMAS QUE FORAM CADASTRADOS -->
                <a class="mt-5 fonte2 btnReturn" routerLink="/inicio">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Retornar a página de início
                </a>
        </div>
    </div>
</div>