#img-bg{
    background-image: url("../../assets/img/pessoas.jpeg");

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.colorBG{
    background-image: linear-gradient(#fff, rgb(224, 220, 165));
}

input{
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(250, 2, 237);
    color: #000;
    font-family: Arial, Helvetica, sans-serif; /*sempre por mais de uma*/
    font-size: 20px;
    transition: .20s ease-in-out;
}

.btnLogin{
    position: relative;
    margin-bottom: 20px;
}

label{
    position: absolute;
    top : -15%; 
    left: 2%;
    font-family : Arial , Helvetica , sans-serif; 
    color: #000;
    transform: translateY(10px);
    transition: .20s ease-in-out; 
    margin-top: -5px; /*Lembrar de espaçar na validação*/
}

input:focus + label{
    color: transparent;
    background-color: transparent;
}

.slct{
    color:rgb(0, 0, 0);
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(010, 182, 218);
}

input:focus{
    border-bottom: 2px solid rgb(010, 182, 218);
    box-shadow: 0 2px 0 0 rgb(010, 182, 218);
}

input:focus + label{
    transform: translateY(-11px) scale(.9);
    color: rgb(0, 0, 0);
}

input:not(:placeholder-shown) + label{
    transform: translateY(-11px) scale(.9);
    color: rgb(0, 0, 0);
}

input:not(:placeholder-shown){
    border-bottom: 2px solid rgb(010, 182, 218);
    box-shadow: 0 2px 0 0 rgb(010, 182, 218);
}

input::placeholder{
    color: transparent;
}

.userType{
    margin-top: 4px;
}

.tUser{
    width: 255px;
    color: #000;
    background-color: transparent;
    border:none;
    outline: none;
    margin-top: 0; /*não mexer! alinhado com a label*/
    margin-left: 145px; /*não mexer! alinhado com a label*/
    cursor: pointer;
}

.opt{
    background-color: rgba(82, 114, 202, 0.589);
    color: #000;
    cursor: pointer;
}

button{
padding: 12px 18px;
width: 120px;
margin-top: 55px; 
margin-right: 25px;
font-family: Arial, Helvetica, sans-serif; /*sempre por mais de uma*/
border: none;
border-radius: 11px;
align-items: center;
background-color: #56d9dd96;
color: rgb(0, 0, 0); /*cor da palavra entrar*/
box-shadow: 3px 2px 2px #5b98a39c, 3px 2px 2px #01afff98;
}

button:hover{
background-color: #00bb10be;
box-shadow: 5px 4px 2px #89b8855d, 5px 4px 2px #01ff622d;
transition: .35s;
border: none;
outline: none;
}

.btnCancel:hover{
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 3px 2px 2px #f80240ab, 5px 5px 5px #ffffffe1;
    background-color: #C40022;
    transition: .55s;
    color:#fff
}


.btnCad:hover{
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 3px 2px 2px rgb(242, 005, 197), 5px 5px 5px #cdcfd498;
    color: #000;
    background-color: rgb(010, 182, 218);
    color: #fff
}

.btnSend:hover{
    box-shadow: 5px 4px 2px rgb(242, 005, 197), 5px 4px 2px #2f3b344b;
}

.mtNgtv{
    margin-top: -25px;
}

.fonte1{

    font-family:Sans Serif;
    font-size: 20px;
    
}

.fonte2{

    font-family:Sans Serif;
    font-size: 18px;
}  

.btnReturn{
    color: #000;
    text-decoration: none;
}    

.fonte3{
    font-family:Sans Serif;
    font-size: 19px;

}

.mt-negativo{

    margin-bottom: 95px;
}