
<div class="container-fluid">

    <div class="row colorBG">

        <div class="col-md-6" id="img-bg"></div>

        <div class="col-md-6 mt-5 mb-5">

            <div class="row d-flex justify-content-center">
                    <div class="col-md-6 box">
                        <h1 class="mb-3 text-center">Cadastrar Tema</h1>
                        <!-- <div class="form-group btnLogin">
                            <input class= "form-control slct" type="text" name="nome" id="nome" placeholder="Digite seu Nome">
                            <label for="nome">Nome <i class="fa fa-user" aria-hidden="true"></i></label> 
                        </div> -->
            
                        <div class="form-group btnLogin">
                            <input [(ngModel)]="tema.descricao" class= "form-control slct" type="text" name="descricao" id="descricao" placeholder="Digite sua localidade" required>
                            
                        </div>

                        <!-- <div class="form-group btnLogin">
                            <input [(ngModel)]="tema.dataHorario" class= "form-control slct" type="date" name="data" id="biografia" placeholder="Digite uma Data" required>   
                        </div>
            
                        <div class="form-group btnLogin">
                            <input [(ngModel)]="tema.quantPessoas" class= "form-control slct" type="text" name="qtdPessoas" id="qtdPessoas" placeholder="Digite a quantidade de pessoas" required>
                            <label for="qtdPessoas">Quantidade de Pessoas <i class="fa fa-users" aria-hidden="true"></i></label>
                        </div>
            
                        <div class="form-group btnLogin">
                            <input [(ngModel)]="tema.temaEvento" class= "form-control slct" type="text" name="temaEvento" id="temaEvento" placeholder="Digite o tema do seu evento" required>
                            <label for="temaEvento">Tema do Evento <i class="fa fa-tag" aria-hidden="true"></i></label>
                        </div> -->

                        <div class= "d-flex justify-content-center">
                            <button class="btnCancel" routerLink= "/inicio">Cancelar</button> <!--lembrar de mudar a rota-->
                            <button class="btnCad" (click)='cadastrar()'>Cadastrar</button>
                        </div>
            
                    </div>
            </div>

            <!-- TABELA DE TEMAS QUE FORAM CADASTRADOS -->
            <div class="row mt-3 mb-5 d-flex justify-content-center align-items-center">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nº</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Modificações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let item of listaTemas'>
                            <th>{{item.id}}</th>
                            <td>{{item.descricao}}</td>
                            <td class="d-flex justify-content-center">
                                <button class="btn mr-3 btnCad " [routerLink]="['/tema-edit', item.id]">Editar</button>
                                <button class="btn btnCancel " [routerLink]="['/tema-delete', item.id]">Apagar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- TABELA DE TEMAS QUE FORAM CADASTRADOS -->
        </div>
    </div>
</div>