/*nav{
    background-image: linear-gradient(#3AC7F3, #226bca);
    
}
*/
nav{
    background-color: rgb(010, 182, 218);
}
.fs-16{
    font-size: 16pt;
    padding: 25px;
}

a{
    cursor: pointer;
}

button{
    background-color: rgb(242, 005, 197);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #ffff;
    
}

.btn:hover{
    background-color: rgb(252, 47, 218);
    transition: .55s ease-in-out;
    color: #ffff;
    border: none;
    border-radius: 5px;
}

