<div class="container-fluid">

    <div class="row colorBG">

        <div class="col-md-6" id="img-bg"></div>

        <div class="col-md-6 mt-5 mb-5">

            <div class="row d-flex justify-content-center">
                <div class="col-md-10">

                    <h1 class="text-center">Cadastro</h1>

                    <div class="form-group btnLogin">
                        <input [(ngModel)]= 'usuario.nome' class="form-control slct" type="text" name="nome" id="nome" placeholder="Seu nome">
                        <label for="nome">Nome <i class="fa fa-user slct" aria-hidden="true"></i></label>
                    </div>

                    <div class="form-group btnLogin">
                        <input [(ngModel)]= 'usuario.usuario' class="form-control slct" type="text" name="usuario" id="usuario" placeholder="Seu usuário">
                        <label for="usuario">Email <i class="fa fa-user-o" aria-hidden="true"></i></label>
                    </div>

                    <div class="form-group btnLogin">
                        <input [(ngModel)]='usuario.foto' class="form-control slct" type="text" name="foto" id="foto" placeholder="Link da sua foto">
                        <label for="foto">Link da Foto <i class="fa fa-picture-o" aria-hidden="true"></i></label>
                    </div>

                    <div class="form-group btnLogin">
                        <input (input)='confirmSenha($event)' class="form-control slct" type="password" name="senha" id="senha" placeholder="Sua senha">
                        <label for="senha">Senha <i class="fa fa-lock" aria-hidden="true"></i>
                        </label>
                    </div>

                    <div class="form-group btnLogin">
                        <input [(ngModel)]='usuario.senha' class="form-control slct" type="password" name="confirmSenha" id="confirmSenha"
                            placeholder="Confirme sua senha">
                        <label for="confirmSenha">Confirmar Senha <i class="fa fa-lock" aria-hidden="true"></i></label>
                    </div>

                    <div class="form-group btnLogin">
                        <label class="userType" for="tipoUsuario">Tipo de Usuário <i class="fa fa-user-plus" aria-hidden="true"></i></label>
                        <select (change)='tipoUser($event)' class="form-control tUser" name="tipo" id="tipo">
                            <option selected disabled value="">Selecione um tipo de usuário</option>
                            <option class="opt" value="normal">Normal</option>
                            <option class="opt" value="adm">Administrador</option>
                        </select>
                    </div>

                    <div class="d-flex justify-content-center btnLogin">
                        <button type="submit" class="btnCancel mr-4" routerLink="/home">Cancelar</button>
                        <button type="submit" class="btnCad" (click)= 'cadastrar()'>Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
