.bg-img{

    background-image:url("../../assets/img/mao.png") ;
    height: 440px;
}

.fs-50{

    font-size: 35pt;
}

.fs-20{

    font-size: 20pt;
}

.bgcolor{

    background-color: rgb(10, 182, 218);
}