<nav class="navbar fixed-top navbar-expand-lg navbar-light ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto d-flex align-items-center">
            <li class="nav-item active mr-5">
                <!--foto da imagem com tamanho e classe reponsiva a qualquer tela e foto em formato de ciruclo-->
                <img src="../../assets/img/logo.png" alt="Imagem do user" width="100px" height="105px"
                    class="img-fluid rounded-circle mt-5">
            </li>  
        </ul>

        <ul class="navbar-nav m-auto d-flex align-items-center pquem" >
            <li class="nav-item pl-3">
                <!--nome em negrito-->
                <p class="m-0 font-weight-bold text-white fs-16"> Quem somos? </p>
            </li>
            <li class="nav-item pl-3">
                <!--nome em negrito-->
                <p class="m-0 font-weight-bold text-white fs-16"> O que fazemos? </p>
            </li>
            <li class="nav-item pl-3">
                <!--nome em negrito-->
                <p class="m-0 font-weight-bold text-white fs-16"> Time </p>
            </li>
            <li class="nav-item pl-3">
                <!--nome em negrito-->
                <p class="m-0 font-weight-bold text-white fs-16 mr-5"> Contato </p>
            </li>
        </ul>
        <!--login e entrar-->
        <ul class="navbar-nav mr-auto d-flex align-items-end ml-5">
            <div class="d-flex justify-content-center ml-5 mr-3">
                <button type="submit" class="btn" routerLink="/entrar">Login</button>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn" routerLink="/cadastrar">Cadastrar</button>
            </div>

        </ul>

    </div>
</nav>

<div class="">

</div>