<nav id="nvShadow" class="navbar fixed-top navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto d-flex align-items-center">
            <li class="nav-item active mr-5">
                <!--foto da imagem com tamanho e classe reponsiva a qualquer tela e foto em formato de ciruclo-->
                <img src="../../assets/img/logo.png" alt="Imagem do user" width="100px" height="105px"
                    class="img-fluid rounded-circle mt-5 ml-2">
            </li>
            <p class="mt-3 text-white fs-16 font-weight-bold logoNome">Laços Da Comunidade</p>
        </ul>

        <!-- <ul class="navbar-nav m-auto d-flex align-items-center">
            <li class="nav-item pl-3"> -->
        <!--nome em negrito-->
        <!-- <a href="#quemSomos">
                    <p class="m-0 font-weight-bold text-white fs-16"> Quem somos </p>
                </a>
            </li>
            <li class="nav-item pl-3"> -->
        <!--nome em negrito-->
        <!-- <a href="#time">
                    <p class="m-0 font-weight-bold text-white fs-16"> Time </p>
                </a>
                
            </li>
            <li class="nav-item pl-3 mr-5"> -->
        <!--nome em negrito-->
        <!-- <a href="#ctt">Quem somos</a>
            </li>
        </ul> -->
        <!--login e entrar-->
        <ul class="navbar-nav d-flex justify-content-end ml-5 alBotao">
            <div class="d-flex justify-content-center ml-5 mr-3">
                <button type="submit" class="btn" routerLink="/entrar">Login</button>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn" routerLink="/cadastrar">Cadastrar</button>
            </div>

        </ul>

    </div>
</nav>

<div class="col-md-12">
    <p  class="imgHome" alt="">
    </p>
</div>


<div class="jumbotron jumbotron-fluid jumboColor space ">
    <div class="container ">
        <h1 class="display-5 fonte1">Quem Somos</h1>
        <p class="lead">Uma empresa que realiza o desejo de juntar o maior número projetos a pessoas,
            buscando informar e compartilhar eventos.
            O nosso público alvo é comunidades carentes para que os moradores e ONGs possam
            compartilhar seus eventos permitindo o acesso para:
            <br>
            ✔ Doações <br>
            ✔ Atividades culturais <br>
            ✔ Cursos <br>
            ✔ Palestras <br>
            ✔ Fortalecendo a rede de apoio.
        </p>
    </div>
</div>

<!--TEXTO COM VIDEO-->
<div class="row mb-4 p-5 bcdTxt ">
    <div class="col-md-6 mt-1">
        <h3>Campanha do agasalho 2021: Nós apoiamos essa causa </h3>

        <p class="lead mt-5">A Campanha do Agasalho 2021 é uma parceria da EPTV com as prefeituras que fazem parte da área de cobertura da
            emissora nas regiões de Campinas, São Carlos, Ribeirão Preto e Sul de Minas Gerais. O objetivo é unir forças
            para aumentar a arrecadação de roupas e cobertores para a população que mais precisa.

            A campanha vai de 10 de maio até 31 de julho com pontos fixos de arrecadação nas cidades participantes.</p>
    </div>

    <div class="col-md-6 ml-0">

        <iframe width="530" height="335" src="https://www.youtube.com/embed/43Zd4pRLpyY" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

    </div>
</div>
<!--/TEXTO COM VIDEO-->


<!--CARDS-->
<div class="bcdColor">
    <h1 class=" d-flex justify-content-center fonte1">Time</h1>
    <div class="main bd-grid mt-5">

        <!--Card1-->
        <article class="card">
            <div class="card__img">
                <img src="../../assets/img/Clara.png" alt="">
            </div>
    
            <!--Nome e Redes-->
            <div class="card__precis">
                <p>
                    <a class="card__icon" href="https://github.com/claramon" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </p>
    
                <div>
                    <span class="card__preci card__preci--now">Clara Montanhez</span>
                </div>
                <p>
                    <a class="card__icon" href="https://www.linkedin.com/in/claramontanhez/" target="_blank">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </article>
        <!--Card1-->
    
    
        <!--Card2-->
        <article class="card">
            <div class="card__img">
                <img src="../../assets/img/eu-removebg-preview.png" alt="">
            </div>
            <!--Nome e Redes-->
            <div class="card__precis">
                <p>
                    <a class="card__icon" href="https://github.com/FelipeFFS93/" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </p>
    
                <div>
                    <span class="card__preci card__preci--now">Felipe Freire</span>
                </div>
                <p>
                    <a class="card__icon" href="https://www.linkedin.com/in/felipe-freire-949967172/" target="_blank">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </article>
        <!--Card2-->
    
    
        <!--Card3-->
        <article class="card">
            <div class="card__img">
                <img src="../../assets/img/Gedione.png" alt="">
            </div>
    
            <!--Nome e Redes-->
            <div class="card__precis">
                <p>
                    <a class="card__icon" href="https://github.com/GedioneSouza" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </p>
    
                <div>
                    <span class="card__preci card__preci--now">Gedione Souza</span>
                </div>
                <p>
                    <a class="card__icon" href="https://www.linkedin.com/in/gedione-araujo-dantas-de-souza-92bb2b182/"
                        target="_blank">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </article><br>
        <!--Card3-->
    
    
        <!--Card4-->
        <article class="card">
            <div class="card__img">
                <img src="../../assets/img/Jana.png" alt="">
            </div>
    
            <!--Nome e Redes-->
            <div class="card__precis">
                <p>
                    <a class="card__icon" href="https://github.com/janainarodrigues" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </p>
    
                <div>
                    <span class="card__preci card__preci--now">Janaina Rodrigues</span>
                </div>
                <p>
                    <a class="card__icon" href="https://www.linkedin.com/in/janaina-pereira-rodrigues/" target="_blank">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </article>
        <!--Card4-->
    
    
        <!--Card5-->
        <article class="card">
            <div class="card__img">
                <img src="../../assets/img/LucasM.png" alt="">
            </div>
    
            <!--Nome e Redes-->
            <div class="card__precis">
                <p>
                    <a class="card__icon" href="https://github.com/LucasLM1" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </p>
    
                <div>
                    <span class="card__preci card__preci--now">Lucas Souza</span>
                </div>
                <p>
                    <a class="card__icon" href="https://www.linkedin.com/in/lucaslmsc/" target="_blank">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </article>
        <!--Card5-->
    
        <!--Card6-->
        <article class="card">
            <div class="card__img">
                <img src="../../assets/img/Valmir.png" alt="">
            </div>
    
            <!--Nome e Redes-->
            <div class="card__precis">
                <p>
                    <a class="card__icon" href="https://github.com/bigboss2021" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </p>
                <div>
                    <span class="card__preci card__preci--now">Valmir Lima</span>
                </div>
                <p>
                    <a class="card__icon" href="https://www.linkedin.com/in/valmir-lima-946632216" target="_blank">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </article>
        <!--Card6-->
    
    </div>
    
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <!--/CARDS-->
    
</div>
<!--rodape-->

<footer class="page-footer-small  pt-3 " id="ctt">
    <div class="container">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4>Acompanhem as redes sociais da Generation Brasil!<i aria-hidden="true"></i></h4>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <!--Icone redes sociais-->
                    <li>
                        <a href="https://www.facebook.com/search/top?q=generation%20brasil" target="_blank"
                            class="icoFacebook">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/generationbrasil/" target="_blank" class="icoInstagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/school/generationbrasil/" target="_blank" class="icoLinkedin">
                            <i class="fa fa-linkedin-square LKD" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>

    <div class="footer-copyright text-center py-3">
        <span class="text-light"> ©️ 2021 Copyright: </span>
        <!--Colocar o site próprio-->
        <a class="linkGen" target="_blank" href="#">Laços da Comunidade</a>
    </div>

</footer>
<!--rodape-->